<% provide(:title, 'About') %>
<h1>About</h1>
<p>Global Clinic Index or <b>GCI</b> is the world's first rating for clinics. We use various metrics and the rating is
  made out of more than 1.000.000 reviews. We index every clinic on the earth.</p>
