<% provide :title, 'Contact' %>
<h1>Contact</h1>
<p>Feel free to visit our home page at <a href="http://medbeaver.com">MedBeaver.com</a> or write us an e-mail at
  <a href="mailto:gci@medbeaver.com">gci@medbeaver.com</a>.</p>
