<h1>New GCI Reviews Box</h1>

<%= render 'form', submit_label: 'Create new GCI Reviews full_box', link: new_account_gci_reviews_api_path %>

<%= link_to 'Back', account_gci_reviews_apis_path, class: 'btn btn-default' %>
