<h1>Editing account_gci_reviews_api_color_scheme</h1>

<%= render 'form', submit_label: 'Update color scheme', link: account_gci_reviews_api_color_scheme_path(@account_gci_reviews_api_color_scheme) %>

<%= link_to 'Show', account_gci_reviews_api_color_scheme_path @account_gci_reviews_api_color_scheme, class: 'btn btn-primary' %> |
<%= link_to 'Back', account_gci_reviews_api_color_schemes_path, class: 'btn btn-default' %>
