<h1>New color scheme</h1>

<%= render 'form', submit_label: 'Create new color schema', link: new_account_gci_reviews_api_color_scheme_path %>

<%= link_to 'Back', account_gci_reviews_api_color_schemes_path, color: 'btn btn-default' %>
