<div class="gci-reviews-api-full-box-details-reviews-form-score-stars">
  <input type="hidden" name="<%= name %>" value="-1">

  <% 10.times do %><img src="<%= image_url 'star_off_medium.png' %>"><% end %>
</div>